<!DOCTYPE html>

<!-- data-ng-app (data-* is for HTML5 validation) is a directive to auto-bootstrap an angular application -->
<!-- You can get this scope in an own file e.g. main|app.js -->
 <html data-ng-app="demoApp">
   <head>
     <title>AngularJS</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script> 
      
     <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
   
    </head>
   <body>
     
     <h1 class="jumbotron">First demo AngularJS!</h1>
     
  
     
       <!-- This is a controller - It's scope is in the div-tag -->
       <!-- Uning the ControllerAs-thing make nice namespacing -->
       <div class="container" data-ng-controller="DemoController">
       
       <!-- data-ng-model sets a property which is databinded in the  script -->
       <input type="text" data-ng-model="name" />
       
       <!-- Declarative call to the scopes method -->
       <button data-ng-click="alertMessage(name);">Update Properties</button>
       <h2>Hello {{ name }}!!</h2>
        
         <h3>You are:</h3>  
       <ul>
         <li data-ng-repeat="prop in properties">
           {{ prop }}
         </li>
       </ul> 
     
     </div> 
     
     
     <!-- Ofcourse this should have its own file -->
     <script>
       
       // This is a demoApp - See the html-tag
       var myApp = angular.module('demoApp',[]);

       // Register the controller (get demoController)
       // Second parameter is the function within the controller is coded
       myApp.controller('DemoController', DemoController); 
       
       // This is Dependency injection
       // I use this annotation so we don´t get problems with minifing (can differs from littature)
       // https://docs.angularjs.org/guide/di
       DemoController.$inject = ['$scope', '$window'];
        
       
       
       // This is our controller - Should ofcource be in a own file...
       function DemoController($scope, $win) {
         
          // Databind (see data-ng-model above) - Scope is the ViewModel => The glue
          $scope.name = "John";
          
          // A controller method
          $scope.alertMessage = function(name) {
            
            if(name === "John") {
              $scope.properties = ["Kind", "Funny", "Admirable"]
            }
            else {
              $scope.properties = ["Not so kind", "Not so funny", "Not so Admirable"]
            }
            
            // Alert on the window-object (angular object)
            $win.alert("Properties are updated!");
          };
          $scope.properties = ["Kind", "Funny", "Admirable"]
          
        };
     </script>
     
   </body>
</html>