<div class="container">
  <h3>List all players</h3>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Team</th>
        </tr>
        <tr data-ng-repeat="_player in players.playerList">
          <td>{{ _player.name }}</td>
          <td>{{_player.age}}</td>
          <td>{{_player.team_info.teamname}}</td>
          <td><a data-ng-href="player/{{_player.id}}">More info</a></td>
        </tr>
      </thead>
     </table>
  </div>
 
</div>

